body {
  background: linear-gradient(135deg, #1d2671, #c33764);
}

.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  width: 24rem;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}

.btn:hover {
  transform: scale(1.05);
  transition: 0.2s;
}
    