.center {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #ff416c, #ff4b2b);
}

.card {
  width: 28rem;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0,0,0,0.3);
}
